#userNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #000;
}

#userNav > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#userNav > a {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
}

.pointer {
  cursor: pointer;
}
