#resultsPage {
  padding: 1rem;
}

#resultsList {
  display: flex;
  flex-direction: column;
}

.cancel-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
